mixin menu(art, blog, code, aboutme, src)
	
	//- fundamental issue is that on navigation, page does not load .. it's delayed for some reasons
	#collectionDesc.collection-desc
		p
			a(href=`${art}`) Art 
			|  |
			a(href=`${blog}`)   Blog
			|  |
			a(href=`${code}`)   Code
			|  |
			a(href=`${aboutme}`)   ___

	nav.index-navigation.collection-nav(role='navigation')
		a.art(href=`${src}` target='_blank')
			span.collection-nav-item-span github

