mixin menu(art, blog, code, aboutme, src)

	#collectionDesc.collection-desc
		//- defining the font is here is necessary so that it shows up the 
		//- right way on the local server when the corresponding css property is turned off
		//- p(style='font-family: adobe-garamond-pro')
		p
			a(href=`${art}`) Art 
			|  |
			a(href=`${blog}`)   Blog
			|  |
			a(href=`${code}`)   Code
			|  |
			a(href=`${aboutme}`)   ___

	nav.index-navigation.collection-nav(role='navigation')
		a.art(href=`${src}` target='_blank')
			span.collection-nav-item-span github

